html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body * {
    box-sizing: border-box;
}

.background {
    background-image: url('./img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    text-align: center;
    color: #FFFFFF;
}

.home-title {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    line-height: 60px;
    margin: 0 0 30px 0;
}

.home-copy {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 30px 0;
}

.button {
    padding: 10px 20px;
    background-color: #E62499;
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}

.card {
    opacity: 0;
    width: calc(100% - 40px);
    max-width: 680px;
    padding: 40px 70px;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #FFFFFF;
    border-radius: 4px;
    transition: bottom 0.35s ease-in-out;
}

.card.active {
    opacity: 1;
    bottom: 50%;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 35px;
    margin: 0 0 30px 0;
    text-align: center;
}

.file-label {
    width: 100%;
    display: block;
    background-color: #F9F9F9;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.file-label::after {
    content: " ";
    padding-bottom: 66%;
    display: block;
}

.file-actual {
    opacity: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
    overflow: hidden;
}